doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://bootswatch.com/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='css/profile.css')
  body
    .mainbody.container-fluid
      .row
        .navbar-wrapper
          .container-fluid
            .navbar.navbar-inverse.navbar-static-top(role='navigation')
              .container-fluid
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar 
                    span.icon-bar
                    span.icon-bar
                  .divider
                  a.navbar-brand(href='#', style='margin-right:-8px; margin-top:-5px;')
                    img(alt='Brand', src='https://lut.im/7trApsDX08/GeilMRp1FIm4f2p7.png', width='30px', height='30px')
                  a.navbar-brand(href='#') #{FullName} 
                .navbar-collapse.collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/viewPost') All Posts
                    li
                      a(href='#') My Activity
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        b.caret
                      ul.dropdown-menu
                        li
                          .navbar-content
                            .row
                              .col-md-4
                                .divider
                                a.btn.btn-default.btn-xs(href='./56ExR')
                                  i.fa.fa-user-o(aria-hidden='true')
                                  |  Profile
                                br
                                a.btn.btn-default.btn-xs(href='#')
                                  i.fa.fa-address-card-o(aria-hidden='true')
                                  |  Contacts
                                br
                                a.btn.btn-default.btn-xs(href='#')
                                  i.fa.fa-cogs(aria-hidden='true')
                                  |  Settings
                                br
                                a.btn.btn-default.btn-xs(href='/logOut')
                                  i.fa.fa-question-circle-o(aria-hidden='true')
                                  |  Sign out

        div(style='padding-top:50px;')  
        .col-lg-4.col-md-4.hidden-sm.hidden-xs
          .panel.panel-default
            .panel-body
              .well
                form#post_form
                  textarea#new_message.span4(placeholder='Type in your Post', rows='6', cols='40')
                      
                  button.btn.btn-info(type='submit') Post
        .col-lg-8.col-md-8.col-sm-12.col-xs-12
          .panel.panel-default
            .panel-body
              span.pull-left
                a.btn.btn-link(href='#', style='text-decoration:none;')
                  i.fa.fa-fw.fa-files-o(aria-hidden='true')
                  |  Posts
                a.btn.btn-link(href='#', style='text-decoration:none;')
                  i.fa.fa-fw.fa-picture-o(aria-hidden='true')
                  |  Photos 
                  span
                a.btn.btn-link(href='#', style='text-decoration:none;')
                  i.fa.fa-fw.fa-users(aria-hidden='true')
                  |  Contacts 
                  span
              span.pull-right
                a.btn.btn-link(href='#', style='text-decoration:none;')
                  i.fa.fa-lg.fa-envelope-o(aria-hidden='true', data-toggle='tooltip', data-placement='bottom', title='Message')
          hr#comments
          each result in results
            hr
            .panel.panel-default#panel
              .panel-body
                .pull-left
                h2
                  a(href='#', style='text-decoration:none;')
                   strong #{FullName}
                hr
                #post-content
                    h4 #{result.content}
                    br
                hr
                .media
                  .media-body
                    form#commentform(action='/comments', method='post')
                      input(name='postId' , type='hidden', value=result.id)
                      textarea.form-control#new_comment(rows='1', placeholder='Comment' , name='comment')
                      br
                      button.btn#my-btn(type='submit') Comment
                each comment in result.comments
                  .actionBox
                    ul.commentList
                      li
                        .commentText
                          h5 #{comment.user.name}
                          p #{comment.name}
                          span.date.sub-text #{comment.createdAt}
                          br


    //- jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src = 'js/jquery.min.js')
      //- Include all compiled plugins (below), or include individual files as needed
    script(src = 'js/bootstrap.min.js')
    script(src = 'js/profile.js')